
.container {
    display: flex;
    flex-flow : row wrap;
    justify-content: space-around;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px;
    
}